body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: grey;
  font-family: monospace, sans-serif;
  margin: 0;
  display: block;
  width: 100%;
  left: 0;
}

#titulo{
  margin-bottom: 15px;
}

#imagem {
  max-width: auto;
  position: relative;
  float: right;
  margin-top: 75px;
}

#minha_foto {
  border-radius: 10%;
  max-width: 35%;
  float: right;
  opacity: 99.9%;
}
 
#fundo{
  background-image: url('aprender.jpeg');
  background-position: 80%;
  opacity: 80%;
  Width: 55%;
  margin: 60px 0;
  display: inline-block;
}

#licoes_aprendidas {
  margin-top: 75px; 
  color: black;
  font-weight: 800;
  font-size: 300;
  float: left;
  max-width: 35%;
  margin-left: 100px;
  margin-bottom: 55px;
}

#licoes_a_aprender {
  margin-top: 75px; 
  color: black;
  font-weight: 800;
  font-size: 300;
  float:right;
  max-width: 35%;
  margin-right: 100px;
  margin-bottom: 55px;
}

#first{
  margin-top: 75px;
  display: inline;
  padding: 10px 70px;
}

#rodape {
  position: absolute;
  background-color: ;
  font-family: monospace, sans-serif;
  margin: 0;
  display: block;
  width: 100%;
}
