body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: grey;
  font-family: monospace, sans-serif;
  margin: 0;
  display: block;
  width: 100%;
  left: 0;
}

#titulo {
  margin-bottom: 15px;
}

#imagem {
  max-width: auto;
  position: relative;
  float: right;
  margin-top: 75px;
}

#minha_foto {
  border-radius: 10%;
  max-width: 35%;
  float: right;
  opacity: 99.9%;
}

#fundo {
  background-image: url('aprender.jpeg');
  background-position: 80%;
  opacity: 80%;
  width: 55%;
  margin: 60px 0;
  display: inline-block;
}

#licoes_aprendidas {
  margin-top: 75px;
  color: black;
  font-weight: 900;
  font-size: 20px;
  float: left;
  max-width: 35%;
  margin-left: 100px;
  margin-bottom: 55px;
}

#licoes_a_aprender {
  margin-top: 75px;
  color: black;
  font-weight: 900;
  font-size: 20px;
  float: right;
  max-width: 35%;
  margin-right: 100px;
  margin-bottom: 55px;
}

#first {
  margin-top: 75px;
  display: inline;
  padding: 10px 70px;
}

#rodape {
  font-family: monospace, sans-serif;
  margin: 10px;
  width: 100%;
  padding: 10px 0 ;
  clear: both;
}

#link1 {
  max-width: 3%;
  float: left;
  border-radius: 30%;
  padding: 3px;
}

#link2 {
  max-width: 5%;
  float: left;
  border-radius: 50%;
  padding: 1px;
}

#lado-esquerdo {
  font-style: italic;
  max-width: 30%;
  text-align: justify;
  float: left;
  padding: 15px;
}

#lado-direito {
  font-style: italic;
  max-width: 30%;
  text-align: justify;
  float: right;
  padding: 15px;
}

p {
  font-size: 16px;
  line-height: 18px;
  color: 200  200 200;
}
